<div class="row">
    <hr class="solid mb-1">
    <div style="display: flex; justify-content: space-between; margin: 0; padding: 0%;">
        <h1>Proyectos</h1>
        <div class="my-1">
            <button type="button" class="btn btn-outline-light mx-4 mt-1" routerLink="/nuevaeducacion/"
                *ngIf="isLogged"><i class="bi bi-plus-lg"></i></button>
        </div>
    </div>
    <div style="margin-right: 0; padding: 0px 12px 0px 12px">
        <ul *ngFor="let Proyecto of proy" style="margin-right: 0; padding-right: 0%;">
            <li style="padding-right:0%; margin-right: 0%;">
                <div style="display: flex; justify-content: space-between;" class="py-0 my-0">
                    <h3>{{Proyecto.nombreP}}</h3>
                    <div style="margin: 0; padding:0%; display: inline-block">
                        <button *ngIf="isLogged" class="btn btn-outline-light mx-4"
                            routerLink="/editeduc/{{Proyecto.id}}"><i class="bi bi-pencil-fill"></i></button>
                        <button *ngIf="isLogged" class="btn btn-outline-light" style="margin-right: 12px;"
                            (click)="delete(Proyecto.id)"><i class="bi bi-trash"></i></button>
                    </div>
                </div>
                <div>
                    <p class="my-0 py-0"><br>{{Proyecto.descripcionP}}</p>
                </div>
                <div class="mt-2 p-0 text-center">
                    <a href={{Proyecto.linkP}}>
                        <button type="button" class="btn btn-outline-light">Ir a la página</button>
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <hr class="solid">
</div>