<div class="row">
    <hr class="solid">
    <h1>Proyectos</h1>
    <div>
        <ul>
            <li class="white">
                <h2>Instituto superior manuel de falla - Abril 2022</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem est dolorum reiciendis ullam
                    dignissimos voluptate odit tenetur earum excepturi totam veniam quas, officiis voluptates
                    necessitatibus quos, voluptas facilis inventore quia?</p>
                <div class="text-center">
                    <a href="https://ismdf-mj.web.app/">
                        <button type="button" class="btn btn-outline-light">Ir a la página</button>
                    </a>
                </div>
                
            </li>
        </ul>
    </div>
    <hr class="solid">
</div>
