<div class="row">
    <footer>
        <div style="flex-direction: column; width: 100%;">
            <p style="font-size: 20px;"><strong>Información</strong></p>
            <p>Alcalde Alejo Emanuel
            <br>© Argentina Programa #YoProgramo
            <br>Villa la Bolsa, Córdoba, Argentina</p>
        </div>
        <div style="flex-direction: column; width: 100%;">
            <p style="font-size: 20px;"><strong>Contacto</strong></p>
            <p>alcaldealejo53@gmail.com
            <br>+54 351-684-5448</p>
        </div>
        <div style="flex-direction: column; width: 100%;">
            <p style="font-size: 20px;"><strong>Herramientas</strong></p>
            <p>Spring Boot
            <br>Render
            <br>Firebase</p>
        </div>
    </footer>
</div>