<div class="row">
    <img src="../../../assets/APLogo.png" id="APlogo">
    <div class="tamaño">
        <button type="button" class="btn btn-success" id="login">Log-In</button>
        <a href="https://github.com/mayex-gif"><img src="../../../assets/github.png" id="icono"></a>
        <a href="https://www.linkedin.com/in/alejo-emanuel-alcalde-5a0314215"><img src="../../../assets/linkedin.png" id="icono"></a>
        <a href="https://www.instagram.com/alca.alejo/"><img src="../../../assets/instagram.png" id="icono"></a>
    </div>
    <img src="../../../assets/Alejito_uwu_3_Mesa_de_trabajo_1_Mesa_de_trabajo_1.png" id="welcome">
</div>