<div class="row">
    <div class="container">
        <div>
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
        <div class="redes">
            <a href="https://github.com/mayex-gif"><img src="../../../assets/github.png" class="icono"></a>
            <a href="https://www.linkedin.com/in/alejo-emanuel-alcalde-5a0314215"><img src="../../../assets/linkedin.png" class="icono"></a>
            <a href="https://www.instagram.com/alca.alejo/"><img src="../../../assets/instagram.png" class="icono"></a>
        
            <button type="button" class="btn btn-success" (click)="login()" *ngIf="!isLogged">Log-In</button>
            <button type="button" class="btn btn btn-danger" (click)="onLogOut()" *ngIf="isLogged">Log-Out</button>
        </div>
    </div>
</div>