.row{
    background-color: #292e49;
    padding: 0%;
    margin: 0%;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redes {
    margin-right: 0.5em;
}

.icono{
    margin-right: 15px;
}

#logoAP {
    width: 150px;
}

img {
    width: 40px;
}

/*--- Para la vista de celular ---*/
@media (max-width: 575px) {
    .container {
        flex-direction: column;
    }

    .redes {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .redes img {
        margin: 10px;
    }
}