<div class="row">
    <hr class="solid">
    <h1>Experiencia</h1>
    <div>
        <ul>
            <li>
                <h2>Argentina programa #SéProgramar - Abril 2022</h2>
                <img src="../../../assets/APLogo-20-20.png" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem est dolorum reiciendis ullam
                    dignissimos voluptate odit tenetur earum excepturi totam veniam quas, officiis voluptates
                    necessitatibus quos, voluptas facilis inventore quia?</p>
            </li>
        </ul>
    </div>
</div>