<div class="row">
    <hr class="solid">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [title]="'HTML'" [titleColor]="'black'" [percent]="85" [maxPercent]="100" [radius]="100"
            [showUnits]="false" [showSubtitle]="true" [subtitle]="'85%'" [subtitleFontSize]="'20'"
            [subtitleColor]="'black'" [clockwise]="false" [outerStrokeWidth]="16" [innerStrokeWidth]="0"
            [outerStrokeColor]="'#536976'" [animation]="true" [animationDuration]="800" [startFromZero]="true"
            [responsive]="false">
        </circle-progress>

        <!--<div>
            <td *ngIf="isLogged">
                <button class="btn btn-light" routerLink="/editskill/{{skill.id}}">
                    <i class="bi bi-pencil-fill"></i></button>
            </td>
            <td *ngIf="isLogged">
                <button class="btn btn-danger" (click)="delete(skill.id)">
                    <i class="bi bi-trash-fill"></i></button>
            </td>
        </div>-->

    </div>
</div>