<div class="row">
    <div style="margin: 0%; padding: 0%; display: flex; justify-content: center;">
        <img src={{persona.img}} class="img-fluid" id="fotodeperfil">
    </div>
    <div class="texto">
        <div class="nombre">
            <p class="nombres">{{persona.nombre}} {{persona.apellido}}</p>
            <p>Full Stack Web Developer Jr</p>
        </div>
        <div class="info">
            <h2>Acerca de mí</h2>
            <p>{{persona.descripcion}}</p>
        </div>
    </div>
    <div style="margin: 0%; padding:0%; position:absolute;" class="mt-4">
        <button *ngIf="isLogged" style="justify-content: right; float: right;" class="btn btn-outline-light mx-4"
            routerLink="/edit-perfil/1"><i class="bi bi-pencil-fill"></i></button>
    </div>
</div>