<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto-perfil.jpeg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p class="nombre">{{persona.nombre}}</p>
        <p>Full Stack Web Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h2>Acerca de mí...</h2>
            <p>{{persona.apellido}}</p>
        </span>
    </div>
</div>